[submodule "docs/sphinx_rtd_theme"]
	path = docs/sphinx_rtd_theme
	url = git@github.com:snide/sphinx_rtd_theme.git
[submodule "app/resources"]
	path = app/resources
	url = git@github.com:StuyCSDojo/dojo-resources
[submodule "dojo-docs"]
	path = dojo-docs
	url = git@github.com:StuyCSDojo/dojo-docs
