{% extends "master.html" %}

{% block title %}Tutorial: Installing Ubuntu{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block nav %}
    <div class="nav-wrapper blue darken-4">

        <a href='/' class="left-padding breadcrumb left"><strong>CS
            DOJO</strong></a>
        <a href='/resources' class='breadcrumb'>Resources</a>

        <a href='#!' class='breadcrumb white-text'>Tutorial: Installing
            Ubuntu</a>


        <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
            <li><a href='/'>Home</a></li>
            <li><a href="/about">About</a></li>
            <li class='active'><a href="/resources">Resources</a></li>
            <li><a href='/calendar'>Calendar</a></li>
            <li><a href="/blog">Dojo Blog</a></li>
            <li><a href="/irc">Chat</a></li>
        </ul>
    </div>
{% endblock %}

{% block container %}

    <h4>Installing Ubuntu</h4>
    <p class='condensed light a_info'>Written by Ethan Cheng on 2016-04-09</p>
    <p class='condensed light a_info'>Modified by PChan on 2016-12-08</p>

    <p>
        To install Ubuntu, you must first choose a <em>version</em> of Ubuntu to install. You
        can find downloads for recent versions <a href="http://www.ubuntu.com/download/desktop">here</a>.
    </p>

    <p>
        <strong>LTS</strong> means <em>Long Term Support</em>. This means that packages (ie security patches, kernel patches, and other user programs) in the ubuntu <code>apt</code>
        repositories will continue to be supported and updated for 5 years. The current LTS version is <strong>16.04.1</strong>.
    </p>

    <p>
        <em>Non-LTS</em> versions of Ubuntu are often less stable and are used as a pseudo-beta test for the upcoming LTS version.
        The next Non-LTS version, <strong>17.04</strong>, is due to be released in April 2017.
    </p>
    <p>
        For the remainder of this guide, we will be focusing on installing <strong>Ubuntu 16.04.1</strong>.
        The installation process for other versions and distributions are very similar.
    </p>

    <h4>Setting up your computer for the installation process</h4>

    <p>
        Depending on what type of computer you have, you will have a different process to
        set up your computer for installing Ubuntu. The first step to set up your computer
        is to obviously <strong><em>back up your files</em></strong>. SERIOUSLY. <em>Back</em>. <em>Up</em>. <em>Your</em>. <em>Files</em>.
        Not only is it just good practice to back up your files, but if something goes wrong
        in the installation process, you may lose your files forever. But don&#39;t worry! Don&#39;t
        be scared! Former Senpai Yicheng is a Linux Guru, and he&#39;s deleted his own filesystem on
        multiple occasions. It happens to everyone. Just store your files somewhere. :+1:
    </p>

    <p>
        <strong>Useful tip</strong>: Your handy-dandy <code>stuy.edu</code> email account gives you unlimited Google
        Drive space. :+1:
    </p>

    <p>
        The first step is to set up your computer to boot from a USB drive!
    </p>

    <h5>:computer: Windows</h5>

    <h6>Disabling Fast Boot</h6>

    <p>
        If you have a custom-built computer, you can probably skip this step, unless your
        motherboard supports Windows 8+ BIOS control.
    </p>

    <p>
        Starting with Windows 8, Microsoft has implemented BIOS settings to allow Windows to
        start up faster. This setting is called <em>Fast Boot</em>. What it actually does is it stores
        file that records certain states and settings on your computer when it shuts down, then
        only stops processes absolutely need to be shutdown. In essence, if Fast Boot is on,
        then your computer does not actually shut down completely.
    </p>

    <p>
        To disable Fast Boot, open <code>Control Panel</code> and go into the <code>Power Settings</code>. Select
        <code>Change Advanced Settings</code>, and disable <code>Fast Boot</code>.
    </p>

    <p>
        A tutorial for this prerequisite can be found <a href="http://www.eightforums.com/tutorials/6320-fast-startup-turn-off-windows-8-a.html">here</a>!.
    </p>

    <h6>Disabling Secure Boot</h6>

    <p>
        This step might not be necessary for everyone, but if you skipped it and a future
        step does not work, you should perform this step.
    </p>

    <p>
        The next step to do on a Windows 8+ computer is to disable <code>Secure Boot</code> in your
        BIOS settings. Shutdown your computer, spam your BIOS setup key (while it is off.
        Yes, it sounds silly, but it makes it easier.) Turn on your computer <em>while</em>
        continuing to rapidly press your BIOS setup key.
    </p>

    <p>
        The BIOS setup key varies from computer to computer. On most computers, such as Dell,
        HP, and Acer, the BIOS setup key is <code>&lt;F2&gt;</code>. On Asus computers, it is either <code>&lt;Esc&gt;</code> or
        <code>&lt;F2&gt;</code>, I forgot which one. If you don&#39;t know your BIOS setup key, look it up on
        Google.
    </p>

    <p>
        <strong>If you are unable to get into your BIOS setup,</strong> there is a hidden trick on Windows
        to get into it. On the <em>login</em> screen, hold <code>&lt;Shift&gt;</code>, and click <code>Restart</code>. This
        should bring you to a screen that looks like this:
    </p>

    <p>
        <img src="http://www.howtogeek.com/wp-content/uploads/2013/11/650x488xaccess-uefi-firmware-settings.jpg.pagespeed.gp+jp+jw+pj+js+rj+rp+rw+ri+cp+md.ic.Wm6RQz8gSk.jpg" alt="win8_shift_restart">
    </p>

    <p>
        Select &quot;UEFI Firmware Setings&quot; to get to the Setup screen.
    </p>

    <p>
        Once you get into your BIOS setup, it should look something like this:
    </p>

    <p>
        <img src="http://www.howtogeek.com/wp-content/uploads/2013/11/650x488xsurface-pro-2-uefi.jpg.pagespeed.gp+jp+jw+pj+js+rj+rp+rw+ri+cp+md.ic.ChAM0muMv5.jpg" alt="bios1">
    </p>

    <p>Or like this:</p>

    <p>
        <img src="http://docs.oracle.com/cd/E22693_01/doc.12/e23342/figures/figc-2.jpg" alt="bios2">
    </p>

    <p>
        Almost all computers will have BIOS screens that differ in some way. Because of this,
        I can&#39;t guide you completely through this step, but usually you want to go to the
        <code>Boot</code> or <code>Security</code> section using the arrow keys. Find the <code>Secure Boot</code> option
        and disable it. Usually, you need to hit <code>Enter</code> or <code>Space</code> to change the option.
    </p>

    <p>
        After you have disable <code>Safe boot</code> or <code>Secure Boot</code> option, arrow over to the <code>Exit</code>
        tab and select <code>Save Options and Exit</code>.
    </p>

    <h5>:computer: Mac OSX</h5>

    <p>
        First things first: You&#39;re going to have to install certain
        tools to be able to boot into USB drives. I&#39;ve only done this on a 2011 MacBook Air
        on OSX Yosemite. I&#39;ve heard that there were issues with El Capitan interfering with
        things, so I can only point you in a general direction.
    </p>

    <p>
        The tool you will be installing is called <code>rEFInd</code>. For El Capitan users, the
        creator of rEFInd loves you: <a href="http://askubuntu.com/questions/688632/dual-boot-mac-el-captain-along-with-ubuntu-14-04">Click me! :heart:</a>
    </p>

    <p>
	To install rEFInd, you must first download it at this <a href="https://sourceforge.net/projects/refind/files/0.10.2/refind-bin-0.10.2.zip/download">website</a>.
    </p>

    <p>
	Now you&#39;ll have to delve into Terminal. Open <code>Terminal.app</code>. My personal terminal
        will look vastly different from yours, as I&#39;ve done a ton of customization, but
        the commands you&#39;ll be issueing are the same.
    </p>

    <p>Use <code>cd</code> to navigate to your <code>Downloads</code> folder:</p>

    <p><img src="../static/install_ubuntu/screenshot1.png" width='1000px' alt=""></p>

    <p>
	You&#39;ll see that I have an earlier version of refind installed. I&#39;ll be guiding
        you through installing the new one (since I need to update too :smile:)
    </p>

    <p>
	First, we&#39;ll create a special place to store rEFInd, as we&#39;ll be needing it
        forever and ever.
    </p>

    <codeblock>
        $ mkdir ~/refind/<br>
        $ unzip refind-bin-0.10.2.zip -d ~/refind
    </codeblock>

    <p><img src="../static/install_ubuntu/screenshot2.png" width='1000px' alt=""></p>

    <p>If we go into our new folder, you&#39;ll see refind has been installed.</p>

    <codeblock>
	$ cd ~/refind/refind-bin-0.10.2
    </codeblock>

    <p><img src="../static/install_ubuntu/screenshot3.png" width='1000px' alt=""></p>

    <p>We can execute <code>refind-install</code> by doing <code>./refind-install</code>:</p>

    <p><img src="../static/install_ubuntu/screenshot4.png" width='1000px' alt=""></p>

    <p>The command we want to use to install everything is:</p>

    <codeblock>
	$ sudo ./refind-install
    </codeblock>

    <p>
	You can use the <code>--alldrivers</code> flag if you want to. I&#39;ve done it in the past and
	nothing bad happened to me, but take that with a grain of salt.
    </p>

    <p><img src="../static/install_ubuntu/screenshot5.png" width='1000px' alt=""></p>

    <p>Reboot, and now you&#39;re all set to run boot from a USB!</p>

    <h4>Creating the USB</h4>

    <p>
	There are a multitude of ways to do this, but a way that is universal to all
	operating systems is to use the UNetBootIn tool.
    </p>

    <p>You can install UNetBootIn <a href="https://unetbootin.github.io">here</a>.</p>

    <p>
	UNetBootIn is a fairly intuitive tool. If you have issues with it, Google,
	StackOverflow, CS Dojo, and the CS Dojo IRC are welcome to listen to your questions.
    </p>

    <h4>:warning: WARNING :warning:</h4>

    <p>
	The rest of this guide is a simple <strong><em>INSTALLATION</em></strong> guide. This means the rest
	of this guide will be assuming you want to erase your computer&#39;s hard disk completely
	and put Linux on it. If you wish to retain your original operating system, refer
	to the guide on <strong><a href="{{url_for('tutorial', tut='dualBoot.htmlc')}}">Dual Booting</a></strong>.
    </p>

    <p>
	Again: BACK UP ALL OF YOUR FILES. The installation process will WIPE your hard drive.
	If you don&#39;t know what wipe means, it means erase or reset to a <em>blank</em> state. So
	please. <strong><em>Back up your files.</em></strong>
    </p>

    <p>
	DISCLAIMER: After this point, you&#39;ve been warned enough. CS Dojo will not be held
	responsible for any lost data or important files.
    </p>

    <h4>Booting into the USB</h4>

    <p>
	Once you&#39;ve set up your computer and backed up your personal files, reboot your
	computer with the USB plugged in. For :computer: Windows users, spam the boot
	menu button. This, like the <code>setup</code> button, varies from computer to computer.
	Google the key you need. The common ones are <code>&lt;F10&gt;</code>, <code>&lt;Delete&gt;</code>, and <code>&lt;F2&gt;</code>.
    </p>

    <p>Once you&#39;ve gotten to a boot menu, you&#39;ll see something like this:</p>

    <p><img src="https://docs.oracle.com/cd/E19127-01/ultra27.ws/820-6773/images/7-2-Boot-Device-Menu.gif" alt=""></p>

    <p>Select the <code>USB</code> device that you want, and you should be all ready to go to boot.</p>

    <p>
	For :computer: Mac users, rEFInd should have booted, and you&#39;ll see something like
	this:
    </p>

    <p><img src="http://www.rodsbooks.com/refind/refind.png" alt="">.</p>

    <p>
	Arrow over to your USB (it should be fairly obvious which one it is) and hit
	<code>Enter</code> to boot into it.
    </p>

    <h4>Starting the Installation</h4>

    <p>
	You should be booting into a screen that asks you if you want to try without
	installing, or install Ubuntu. Arrow over to the <code>Install Ubuntu</code> option and you
	should reach a screen that looks like this:
    </p>

    <p><img src="http://i.stack.imgur.com/6sFHc.jpg" alt=""></p>

    <p>You should check both boxes, and hit <code>Continue</code>.</p>

    <p>Next, you should reach something that looks like this:</p>

    <p><img src="http://i.stack.imgur.com/wwvWX.jpg" alt=""></p>

    <p>
	Again, this is a guide for <strong><em>installing</em></strong> Ubuntu. <strong>NOT</strong> dual booting. As
	such, we will select the <code>Replace</code> option. If the <code>Replace</code> option is not there,
	select the <code>Wipe Entire Drive and Install Ubuntu</code> option.
    </p>

    <p>Hit <code>Continue</code>.</p>

    <p>
	The next couple steps are intuitive and ask you to set your time zone, username,
	password, etc.
    </p>

    <p>After this, you should be done!</p>

{% endblock %}
