{% extends "master.html" %}

{% block title %}Tutorial: Learning Emacs{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
<div class="nav-wrapper blue darken-4">

    <a href='/' class="left-padding breadcrumb left"><strong>CS
            DOJO</strong></a>
    <a href='/resources' class='breadcrumb'>Resources</a>

    <a href='#!' class='breadcrumb white-text'>Tutorial: Learning Emacs</a>


    <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li class='active'><a href="/resources">Resources</a></li>
        <li><a href='/calendar'>Calendar</a></li>
        <li><a href="/blog">Dojo Blog</a></li>
        <li><a href="/irc">Chat</a></li>
    </ul>
</div>
{% endblock %}

{% block container %}
<h4>Emacs</h4>
<p>Emacs is a multi-purpose extensible text editor</p>
<h5>Step 1 -- sudo apt-get purge vim jkjk still in progres bleh</h5>
{% endblock %}
