{% extends "master.html" %}

{% block title %}Tutorial: Installing Ubuntu{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
<div class="nav-wrapper blue darken-4">

    <a href='/' class="left-padding breadcrumb left"><strong>CS
            DOJO</strong></a>
    <a href='/resources.html' class='breadcrumb'>Resources</a>

    <a href='#!' class='breadcrumb white-text'>Tutorial: Installing Ubuntu</a>


    <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li class='active'><a href="/resources">Resources</a></li>
        <li><a href="/dev">Projects</a></li>
        <li><a href="/blog">Dojo Blog</a></li>
        <li><a href="/irc">Chat</a></li>
    </ul>
</div>
{% endblock %}

{% block container %}
<h4>Installing Ubuntu</h4>
<p>This tutorial blah blah blah</p>
<h5>Step 1 -- blah blah blah</h5>
{% endblock %}
