.left-padding {
    padding-left:2vw!important;
}

.right-padding {
    padding-right:2vw!important;
}

.a_info {
    font-size:14px;
}

code {
    background:#333333;
    color:#aaaaaa;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
    font-family:monospace;
}

codeblock {
    background:#333333;
    color:#aaaaaa;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
    font-family:monospace;
    white-space:pre;
    display:block;
}
