{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
<div class="nav-wrapper blue darken-4">
    <a href='/' class="left-padding left brand-logo">CS DOJO</a>
    <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
        <li class='active'><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href='/calendar'>Calendar</a></li>
        <li><a href="/blog">Dojo Blog</a></li>
        <li><a href="/irc">Chat</a></li>
    </ul>
</div>
{% endblock %}

{% block container %}
<h2>Announcements</h2>
<div class='divider'></div>

<h4>Testing on separate machine</h4>
<p class='condensed light a_info'>Posted by PChan on Thu Dec  8 20:55:12 2016</p>
<p>D Dubs is awesome!!! :)</p>
<h4>Just Testing</h4>
<p class='condensed light a_info'>Posted by PChan on Thu Dec  8 18:21:56 2016</p>
<p>Mr. Brown is awesome!!! :)</p>
<h4>Just Testing</h4>
<p class='condensed light a_info'>Posted by PChan on Thu Dec  8 18:21:34 2016</p>
<p>Mr. Brown is awesome!!</p>
<h4>Announcement Posting Test</h4>
<p class='condensed light a_info'>Posted by Sophia Zheng on Tue Apr 12 20:40:14 2016</p>
<p>This is a test of the announcement testing system.</p>
<h4>CS Teacher Form</h4>
<p class='condensed light a_info'>Posted by Yicheng Wang on 2016-04-07 at 16:34</p>
<p>If you have not filled out the dojo teacher form yet, please fill it out <a
    href='https://docs.google.com/forms/d/1uQ6WxbO4DqpeOrpoO0m1IW2EvlFv_Js7XS-bIOycs1s/viewform'>here</a>
</p>

<h4>Dojo Website Created</h4>
<p class='condensed light a_info'>Posted by Yicheng Wang on 2016-02-09 at 23:04</p>
<p>Most of the design elements have been designed, only a matter of
time before proper implementation.</p>
{% endblock %}
