{% extends 'master.html' %}
{% set active_page = 'about' %}

{% block container %}
    <h4>About</h4>
    <div class='divider'></div>
    <p>
	Much like a dojo for Japanese martial arts, the CS Dojo is meant to be supported and managed by
	the student body. What was originally AIS Tutoring provided by the CS teachers has grown into a
	tight-knit, student-run community of CS enthusiasts. The fundamental idea behind it is to provide
	a space for everyone in Stuy CS — from sophomores who are completely new to CS to seniors who
	can’t get enough of the stuff — to practice alongside/to learn from one another, the same way
	white and black belts alike practice together in a karate/aikido/judo/samurai dojo, and we are
	always striving to make the Dojo, and StuyCS as a whole, more inclusive and diverse.
    </p>

    <h4>Rules of the Dojo</h4>
    <div class='divider'></div>
    <p>
        The rules of the dojo are simple -- don't be stupid, and don't be a jerk. But If
        you want specifics, the following should serve as pretty good guidelines:</p>
    <ul>
        <li>Under Construction</li>
    </ul>

    <h4>Our Sensei</h4>
    <div class='divider'></div>
    <br>
    <div class='row'>
        <div class='col s3 m3 l3'>
            <center>
                <img class='circle responsive-img' src='../static/about/jlee.jpg' alt='jongyoul'>
                <p class='flow-text'>Jongyoul Lee</p>
            </center>
        </div>

        <div class='col s3 m3 l3'>
            <center>
                <img class='circle responsive-img' src='../static/about/lvargas.jpg' alt='lorenz'>
                <p class='flow-text'>Lorenz Vargas</p>
            </center>
        </div>

        <div class='col s3 m3 l3'>
            <center>
                <img class='circle responsive-img' src='../static/about/sayoon.jpg' alt='sarah'>
                <p class='flow-text'>Sarah Yoon</p>
            </center>
        </div>

        <div class='col s3 m3 l3'>
            <center>
                <img class='circle responsive-img' src='../static/about/styoon.jpg' alt='steph'>
                <p class='flow-text'>Stephanie Yoon</p>
            </center>
        </div>
    </div>
    <div class='row'>
        <div class ='col s4 m4 l4 offset-s4 offset-m4 offset-l4'>
            <center>
                <img class='circle' class='responsive-img' src='../static/about/dough-joe.jpg' alt='dough joe'>
                <p class='flow-text'>Dough Joe</p>
            </center>
        </div>
    </div>

    <h4>Contact Us</h4>
    <div class='divider'></div>
    <p>Come join us in person! The Dojo meets Monday through Thursday in
        Room 307 after 10th period. If you cannot, check out our chat or
        email us at <a href='mailto:stuycsdojo1516@gmail.com'>stuycsdojo1516@gmail.com</a></p>
{% endblock %}
