{% extends 'master.html' %}
{% set active_page = 'about' %}

{% block container %}
<h4>About</h4>
<div class='divider'></div>
<p>
Much like a dojo for Japanese martial arts, the CS Dojo is meant to be supported and managed by
the student body. What was originally AIS Tutoring provided by the CS teachers has grown into a
tight-knit, student-run community of CS enthusiasts. The fundamental idea behind it is to provide
a space for everyone in Stuy CS — from sophomores who are completely new to CS to seniors who
can’t get enough of the stuff — to practice alongside/to learn from one another, the same way
white and black belts alike practice together in a karate/aikido/judo/samurai dojo, and we are
always striving to make the Dojo, and StuyCS as a whole, more inclusive and diverse.
</p>

<h4>Rules of the Dojo</h4>
<div class='divider'></div>
<p>
The rules of the dojo are simple.  If you want specifics, the following should serve as pretty
good guidelines:
</p>
<ol start="0">
  <li>
    All lists must be 0-indexed
  </li>
  <li>
    No food or drink in the dojo. (H2Okay)
  </li>
  <li>
    Be respectful to your peers
  </li> 
  <li>
    Clean up after yourself
  </li>
  <li>
    Don’t make excessively loud noises
  </li>  
  <li>
    Avoid using illegal internet (Facebook/Messenger)
  </li>
  <li>
    Keep the aisles clear of backpacks
  </li>
  <li>
    Lock your workstation when not in use (Ctrl+Alt+L)
  </li>

</ol>

<h4>Our Sensei</h4>
<div class='divider'></div>
<br>
<div class='row'>
  <div class='col s3 m3 l3'>
    <center>
      <img class='circle responsive-img' src='../static/about/jzaia.jpg' alt='Pikachu'>
      <p class='flow-text'>Jake Zaia</p>
    </center>
  </div>

  <div class='col s3 m3 l3'>
    <center>
      <img class='circle responsive-img' src='../static/about/jyu.jpg' alt='JYu'>
      <p class='flow-text'>Jen Yu</p>
    </center>
  </div>

  <div class='col s3 m3 l3'>
    <center>
      <img class='circle responsive-img' src='../static/about/' alt=''>
      <p class='flow-text'></p>
    </center>
  </div>

  <div class='col s3 m3 l3'>
    <center>
      <img class='circle responsive-img' src='../static/about/' alt=''>
      <p class='flow-text'></p>
    </center>
  </div>
</div>
<div class='row'>
  <div class ='col s4 m4 l4 offset-s4 offset-m4 offset-l4'>
    <center>
      <img class='circle' class='responsive-img' src='../static/about/dough-joe.jpg' alt='dough joe'>
      <p class='flow-text'>Dough Joe</p>
    </center>
  </div>
</div>

<h4>Contact Us</h4>
<div class='divider'></div>
<p>Come join us in person! The Dojo meets Monday through Thursday in
Room 307 after 10th period. If you cannot, check out our chat or
email us at <a href='mailto:stuycsdojo1516@gmail.com'>stuycsdojo1516@gmail.com</a></p>
{% endblock %}
