{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
<div class="nav-wrapper blue darken-4">
    <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
    <a href='/' class="left-padding breadcrumb left"><strong>CS
            DOJO</strong></a>
    <a href='#!' class='breadcrumb white-text'>Senpai Calendar</a>
    <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
        <li class='active'><a href='/calendar'>Calendar</a></li>
        {% if is_logged_in %}
	    <li><a href='/logout'>Logout</a></li>
	{% else %}
	    <!-- <li><a href='/login'>Login</a></li> -->
        {% endif  %}
    </ul>
    <ul class='side-nav' id='mobile-demo'>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/resources'>Resources</a></li>
        <li class='active'><a href='/calendar'>Calendar</a></li>
        {% if is_logged_in %}
	    <li><a href='/logout'>Logout</a></li>
	{% else %}
	    <!-- <li><a href='/login'>Login</a></li> -->
        {% endif  %}
    </ul>
</div>
{% endblock %}

{% block container %}
<h2>Senpai Calendar</h2>
<div class='divider'></div>
<p>Find below which senpai will be at Dojo on a particular day. <br>If you are a
senpai who wishes to added to the calendar, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScQ-bDIXAAKKWbWajDrqo6gjzlA3N1VWMOaegh9UMBGP5BN6Q/viewform?usp=sf_link">this form.</a><br>If you are a
senpai who wishes to change your calendar entry, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSciANivo8ZhJhtIc_lVDTx2KOmrn42ajYqo6UJjtXPlWFqP1Q/viewform?usp=sf_link">this form.</a></p>
<center>
<iframe src="https://calendar.google.com/calendar/embed?src=c4515isjhlfo6njiia9p35vp94%40group.calendar.google.com&ctz=America/New_York" style="border: 0;width: 90%;height: 60vw;" frameborder="0" scrolling="no"></iframe></center>
{% endblock %}
