{% extends 'master.html' %}
{% set page_path = ['forum'] %}
{% set active_page = topic['title'] %}

{% block container %}
    <h1>
        {{ topic['title'] }}
    </h1>
    {% for post in posts %}
        <div class="post">
            <div class="post-title">
                <a href="/forum/{{ topic['_id'] }}/{{ post['_id'] }}">
                    {{ post['title'] }}
                </a>
            </div>
            <div class="post-author">
                {{ post['author'] }}
            </div>
        </div>
    {% endfor %}
{% endblock %}


