{% extends 'master.html' %}
{% set active_page = 'forum' %}

{% block container %}
    <h2>Front Page</h2>
    
    {% for topic in topics %}
        <div class="topic">
            <div class="topic-title">
                <a href="/forum/{{ topic['_id'] }}">
                    {{ topic['title'] }}
                </a>
            </div>
            <div class="topic-description">
                {{ topic['description'] }}
            </div>
        </div>            
    {% endfor %}
{% endblock %}

