{% extends 'master.html' %}
{% set page_path = ['forum'] %}
{% set active_page = post[title] %}

{% block container %}
    <div class="post">
        {% for key in post %}
            <div class="post-{{ key }}">
                {{ post[key] }}
            </div>
        {% endfor %}
    </div>

    {% for comment in comments %}
        {% for key in comment %}
            <div class="comment-{{ key }}">
                {{ comment[key] }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
