{% extends "master.html" %}

{% block title %}Resources{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}
<div class="nav-wrapper blue darken-4">
    <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
    <a href='/' class="left-padding breadcrumb left"><strong>CS
            DOJO</strong></a>
    <a href='#!' class='breadcrumb white-text'>Resources</a>

    <ul id="nav-mobile" class="right-padding right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href="/about">About</a></li>
        <li class='active'><a href="/resources">Resources</a></li>
        <li><a href='/calendar'>Calendar</a></li>
        {% if is_logged_in %}
	    <li><a href='/logout'>Logout</a></li>
	{% else %}
	    <!-- <li><a href='/login'>Login</a></li> -->
        {% endif  %}
    </ul>
    <ul class='side-nav' id='mobile-demo'>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
	<li class='active'><a href='/resources'>Resources</a></li>
	<li><a href='/calendar'>Calendar</a></li>
        {% if is_logged_in %}
	    <li><a href='/logout'>Logout</a></li>
	{% else %}
	    <!-- <li><a href='/login'>Login</a></li> -->
        {% endif  %}
    </ul>
</div>
{% endblock %}

{% block container %}
<h4>Resources</h4>
<div class="row">
    <div class="col s4">
        <h5>Guides and Tutorials</h5>
        <ul>
            <li><b>Linux</b></li>
            <div class='divider'></div>
            <li><a href='/tutorials/install_ubuntu.htmlc'>Installing Ubuntu<span class='newc badge'>new</span></a></li>
            <li><a href='#'>Dual Boot Linux and Windows<span class='unfinished badge'>unfinished</span></a></li>
            <li><a href='/tutorials/terminal.htmlc'>How to use the Terminal<span class='newc badge'>new</span></a></li>
            <li><a href='/tutorials/bash.htmlc'>How to use Bash<span class='newc badge'>new</span></a></li>
	    <br>
	    <li><b>Software and Tools</b></li>
	    <div class='divider'></div>
	    <li><a href='/tutorials/vim.htmlc'>Introduction to Vim<span class='newc badge'>new</span></a></li>
	    <li><a href='/tutorials/emacs.htmlc'>Introduction to Emacs<span class='unfinished badge'>unfinished</span></a></li>
	    <li><a href='/tutorials/git.htmlc'>Introduction to Git<span class='newc badge'>new</span></a></li>
	    <li><a href="/nqueens-sketchpad">NQueens Visualizer<span class="newc badge">new</span></a></li>
            <li><a href="/knights-tour-sketchpad">Knight Tour Visualizer<span class="newc badge">new</span></a></li>
	    <br>
	    <li><b>Coding Practices and Tips</b></li>
	    <div class='divider'></div>
	    <li>TODO</li>
        </ul>
    </div>

    <div class="col s4">
        <h5>Documentations</h5>
        <ul>
            <li><a href="https://docs.racket-lang.org" target="_blank">Racket</a></li>
            <li><a href="https://ccl.northwestern.edu/netlogo/docs" target="_blank">NetLogo</a></li>
            <li><a href="https://docs.python.org/2/library/index.html" target="_blank">Python 2.7</a></li>
            <li><a href="https://docs.oracle.com/javase/7/docs/api" target="_blank">Java 7</a></li>
            <li><a href="https://processing.org/reference" target="_blank">Processing</a></li>
        </ul>
    </div>

    <div class="col s4">
        <h5>Useful Links and Tools</h5>
        <ul>
            <li><a href="http://www.w3schools.com/" target="_blank">W3schools</a></li>
            <li><a href="http://www.emacswiki.org/" target="_blank">Emacs wiki</a></li>
            <li><a href="http://vim.wikia.com/wiki/Vim_Tips_Wiki" target="_blank">Vim tips wiki</a></li>
	    
	    <li><a href="https://jsfiddle.net" target="_blank">JS fiddle</a></li>
	    <li><a href="http://cdecl.org/" target="_blank">C-English Translator</a></li>
        </ul>
    </div>
</div>
{% endblock %}
